[Unit]
Description=Custom web application
After=network.target

[Service]
User=web
WorkingDirectory=/opt/python/app
ExecStart=/usr/bin/python3 app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
